<section class="pb-bg">
    <div class="container">
        <div class="pb-header">
            <div class="pt-5 row align-items-center">
                <div class="pb-img col">
                    <div class="img"> oi </div>
                    <div class="pb-container-title pl-2 pr-2">
                        <h1 class="mt-3">{{userAccountInformations?.fullName}}</h1>
                    </div>
                </div>
                <div class="pb-account-info col text-right align-middle">
                    <div *ngIf="(bank$ | async) as bank; else buttonToCreateBank">
                        <div (click)="toggleBalance()">
                            Saldo R$:
                            <span class="pb-balance" [ngClass]="showBalance ? 'show' : 'hide'">{{balanceFormat(bank?.balance)}} <mat-icon style="color: white">remove_red_eye</mat-icon></span> 
                        </div>
                        <hr>
                        <div>AG {{bank?.agency}}</div>
                        <div>{{getAccountType(bank?.account_type)}} {{bank?.account}}-{{bank?.account_digit}}</div>
                    </div>
                    <ng-template #buttonToCreateBank>
                        <mat-hint>Segundo nossos registros, você ainda não possuí uma PurpleConta.</mat-hint>
                        <button mat-raised-button (click)="createBankAccount()">Solicitar abertura da PurpleConta!</button>
                    </ng-template>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-5 pb-content" *ngIf="userHasBankAccount">
            <div class="pb-item" style="cursor: pointer" (click)="openDepositIntoAccount()">
                Guardar dinheiro na PurpleConta.
            </div>
            <div class="pb-item" style="cursor: pointer" (click)="openSendMoney()">
                Mandar dinheiro para alguém.
            </div>
            <div class="pb-item pb-last" style="cursor: pointer" routerLink="transaction-history">
                Histórico de transação.
            </div>
        </div>
    </div>
</section>