<section class="pb-bg">
    <div class="container">
        <div class="pb-header">
            <div class="pt-5 row align-items-center">
                <div class="pb-img col">
                    <div class="img"> oi </div>
                    <div class="pb-container-title pl-2 pr-2">
                        <h1 class="mt-3">{{userAccountInformations?.fullName}}</h1>
                    </div>
                </div>
                <div class="pb-account-info col text-right align-middle">
                    <div>
                        Saldo R$:<span class="pb-balance">00,00</span>
                        <span class="pb-icon-eye">  </span>
                    </div>
                    <hr>
                    <div>AG 3750</div>
                    <div>CC 704568-9</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-5 pb-content">
            <div class="pb-item">
                Guardar dinheiro na PurpleConta.
            </div>
            <div class="pb-item">
                Mandar dinheiro para alguém.
            </div>
            <div class="pb-item pb-last">
                Histórico de transação.
            </div>
        </div>
    </div>
</section>