<main class="pb-bg">
    <div class="container">
        <div class="p-3 mt-5 align-top pb-middle">
            <h1 class="pb-title">O teu <span>cofrinho virtual!</span></h1>
            <h3 class="pb-subtitle">O lugar mais confortável para o seu dinheiro.</h3>
            <h6 class="mt-5 pb-subtitle">Sem burocracia, basta se cadastrar e PRONTO! Já pode usufruir do Purple Bank.</h6>
            <button type="button" class="btn mt-3 btn-outline-light" (click)="openRegister()">Crie sua conta Purple.</button>
        </div>
    </div>
</main>