<section class="container">
    <h1 mat-dialog-title>Contrato</h1>
    <mat-dialog-content>
        <h3>Sem asteriscos ou letras miúdas</h3>
        <p>
            Fizemos o máximo para reduzir e simplificar o nosso contrato do cartão. E a sua vida.
            Para conhecer as condições da nossa conta, você pode ler apenas o contrato da NuConta.
            Se quiser saber apenas sobre as condições do nosso programa de pontos, você pode ler apenas o regulamento do Purple Rewards.
            E pra saber como funciona o nosso empréstimo pessoal, clique aqui.
        </p>
        <h3>Política de privacidade</h3>
        <p>
            Nosso objetivo é acabar com a complexidade e tentamos deixar essa Política o mais simples possível, mas caso ainda tenha dúvidas, canais de atendimento estão à sua disposição.
            A nossa Política de Privacidade foi criada para reafirmar o compromisso do PurpleBank com a segurança, privacidade e a transparência no tratamento das suas informações. Ela descreve como coletamos e tratamos dados quando Você baixa nosso aplicativo no seu celular/tablet, trafega em nossos websites, solicita algum dos nossos serviços, se torna nosso cliente, usa nossos serviços ou entra em contato com o PurpleBank por meio dos canais de comunicação disponíveis.
            Essas informações podem se referir àquelas necessárias para identificar Você, para fins de cadastro e cumprimento da legislação, tais como seu nome, CPF e foto, ou ainda àquelas necessárias para prover os serviços do PurpleBank de forma eficiente e segura, tais como seu histórico de crédito, seu endereço para entregar o seu roxinho, dentre outras. Podemos ainda coletar e tratar dados locacionais para permitir ao PurpleBank oferecer melhores serviços a Você e garantir a sua segurança, como, por exemplo, identificando compras indevidas.
        </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="mt-2">
        <button mat-button [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Eu concordo!</button>
    </mat-dialog-actions>
</section>